.othe_news_item_title a,
.main_news_item_text,
.news_main h2,
.news_single_title {
    text-transform: uppercase;
}

.main_news_list_wrap .bx-viewport {
    max-height: 293px;
}

.news_single_content h1 {
    font-size: 1em;
}

.error {
    font-size: 13px;
    color: #ff0000;
}

.fb_iframe_widget {
    background: #fff;
}

.input_error.photo {
    position: inherit;
}