.othe_news_item_title a,
.main_news_item_text,
.news_main h2,
.news_single_title {
    text-transform: uppercase;
}

.main_news_list_wrap .bx-viewport {
    max-height: 293px;
}

.news_single_content h1 {
    font-size: 1em;
}