* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
    background-color: #f9f9f9;
}

    .wrapper {
        /*width: 800px;*/
        margin: 0 auto;
        min-height: 100%;
        height: auto !important;
        height: 100%;
    }
    /* Header
    -----------------------------------------------------------------------------*/
    .header-bg {
        height: 145px;
        background: #0d0e29;
    }
    .header {
        height: 145px;
        margin: 0 auto;
        text-align: center;
    }
    .flag {
        margin: 0 auto;
        width: 800px;
        text-align: right;
        position: relative;
        top: 15px;
    }

    .rus {
        background-image: url("../images/rus.png");
        height: 13px;
        position: absolute;
        width: 16px;
        cursor: pointer;
        top: 15px;
        margin-left: -40px;
    }
    .ua {
        background-image: url("../images/ua.png");
        height: 13px;
        position: absolute;
        width: 16px;
        cursor: pointer;
        top: 15px;
        margin-left: -20px;
    }
    /* Middle
    -----------------------------------------------------------------------------*/
    .middle {
        width: 100%;
        padding: 0 0 35px;
        position: relative;
        margin: 0 auto;
        width: 800px;
    }
    .middle-text {
        font-weight: bold;
        text-align: center;
        color: #3b3b3b;
    }
    .middle-text span{
        display: block;
    }
    .search-block {
        background: url("../images/search-bg.png") no-repeat #d06e00;
        height: 33px;
        text-align: center;
    }
    .search-block label {
        color: #7c7e7f;
        font-size: 16px;
        position: relative;
        top: 7px;
    }
    .search-block input[type="text"] {
        width: 250px;
        position: relative;
        top: 7px;
        font-size: 13px;
        border: none;
        background-color: #FFF;
        font-style: italic;
    }
    .search-block input[type="submit"] {
        background: none;
        background-image: url("../images/search.png");
        background-position: left 4px;
        background-repeat: no-repeat;
        width: 68px;
        text-align: right;
        border: none;
        color: #b6babd;
        position: relative;
        top: 7px;
        cursor: pointer;
        font-size: 16px;
    }
    .middle:after, .left-sidebar ul li:after {
        display: table;
        clear: both;
        content: '';
    }
    .container {
        width: 100%;
        float: left;
        overflow: hidden;
        margin-top: 5px;
    }
    .content {
        padding: 0 0 0 310px;
    }
    .content .map {
        width: 492;
        height: 590;
    }
    .content p {
        text-indent: 30px;
        font-weight: bold;
    }
    .content-ad {
        width: 492px;
        height: 70px;
    }
    /*.pagination {
        margin: 35px auto 5px;
        text-align: center;
    }
    .pagination ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    .pagination ul li {
        display: inline-block;
        margin: 0 5px;
        background-color: #FFF;
        box-shadow: 0 -1px 4px -1px rgba(0, 0, 0, 0.5);
    }
    .pagination ul li a {
        padding:  2px 10px;
        text-decoration: none;
        color: #5b6c7b;
    }
    .pagination ul li.active{
        background-color: #365e8a;
        color: #FFF;
        padding: 0 10px;
    }
    .pagination ul li a:hover{
         background-color: #365e8a;
         color: #FFF;
     }*/
    /* Left Sidebar
    -----------------------------------------------------------------------------*/
    .left-sidebar {
        float: left;
        width: 305px;
        margin-left: -100%;
        position: relative;
        background: #FFF;
        /*margin-top: 5px;*/
    }
    #search-content {
        height: 850px;
        width: 310px;
    }
    .left-sidebar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        width: 305px;
    }
    .left-sidebar ul li {
        margin-top: 5px;
        border: 1px solid #afacac;
    }
    .left-sidebar ul li img {
        float: left;
        width: 97px;
        height: 99px;
        border-right: 1px solid #afacac;
    }
    .left-sidebar h1 {
        background-color: #edc69a;
        color: #6a4418;
        font-size: 12px;
        text-align: center;
        font-weight: 100;
    }
    .left-sidebar .item {
        float: left;
        width: 205px;
    }
    .left-sidebar .item span {
        display: block;
    }
    .left-sidebar .item .address {
        padding-left: 5px;
        line-height: 15px;
    }
    .left-sidebar .left-sidebar-ad {
        width: 305px;
        height: 70px;
    }

    /* Footer
    -----------------------------------------------------------------------------*/
    .footer-bg {
        background: url("../images/footer-bg.png");
        min-width: 800px;
    }
    .footer {
        width: 800px;
        margin: -35px auto 0;
        height: 35px;
        position: relative;
        color: #FFF;
        text-align: center;
    }
    .footer div {
        position: relative;
        top: 9px;
    }
    .footer a.call-popup{
        float: right;
        text-decoration: none;
        color: #FFF;
        border-left: 1px solid #505050;
        border-right: 1px solid #505050;
        padding: 8px 15px 8px 15px;
        position: relative;
        top: -9px;
        width: 100px;
    }
    .footer a.call-popup:hover {
        background: url("../images/footer-hover.png") repeat;
    }
    .footer a {
        color: #FFF;
        text-decoration: none;
    }

    .back-top {
        background-image: url("../images/top.png");
        width: 42px;
        height: 64px;
        display: none;
        cursor: pointer;
        position: fixed;
        bottom: 45px;
        /*right: 30px;*/
        margin-left: 755px;
    }

    .left {
        float: left;
    }
    .half {
        width: 50%;
    }
    .center {
        text-align: center;
    }
    .block {
        display: block;
    }



    .btn {
        border: none;
        background-color: #3d6693;
        color: #FFF;
        border-top: 1px solid #a5b5c6;
        border-right: 1px solid #a5b5c6;
    }
    .popup {
        width: 255px;
        border: 2px solid #5d83b7;
        padding: 5px;
        position: fixed;
        bottom: 35px;
        background-color: #FFF;
    }

    .popup-hidden {
        display: none;
    }
    .close-popup {
        margin-top: 5px;
    }

    .popup input[type="text"], textarea {
        border: 1px solid #C7C7C7;
        margin-bottom: 2px;
        padding: 5px 0 5px 3px;
        width: 250px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
    }
    .popup input[type="button"]{
        font-size: 12px;
        font-family: Arial, sans-serif;
        padding: 1px;
        width: 65px;
        text-align: center;
    }

    .big {
        width: 100px !important;
    }
    .m {
        display: none;
    }
    input {
        outline: none;
    }


a.tooltip-rus, a.tooltip-ua {
  position: relative;
  display: inline;
}
a.tooltip-rus span, a.tooltip-ua span {
  position: absolute;
  color: #000;
  background: #FFF;
  height: 14px;
  line-height: 14px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  width: 150px;
  right: 0;
}
a.tooltip-rus span:after, a.tooltip-ua span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #FFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip-rus span, a:hover.tooltip-ua span {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 35px;
    z-index: 999;
    display: block;
    right: 0;
}
a:hover.tooltip-rus span {
  right: 15px;

}
a:hover.tooltip-ua span {
  right: 3px;
}


@media screen and (max-width: 485px) {
    .wrapper, .flag {
        width: 480px;
    }
    .header-bg {
        height: 64px;
    }
    .header {
        height: 64px;
    }
    .middle {
        padding: 0 0 21px;
        width: 480px;
    }
    .middle-text {
        font-size: 10px;
    }
    .middle-text span{
        display: inline;
    }

    .search-block {
        background: url("../images/m/search-bg.png") no-repeat #d06e00;
        height: 24px;
    }
    .search-block label {
        font-size: 12px;
        top: 2px;
    }
    .search-block input[type="text"] {
        width: 125px;
        top: 2px;
        font-size: 10px;
        background-color: #fbfbf9;
    }
    .search-block input[type="button"] {
        top: 2px;
        font-size: 14px;
    }
    .content {
        padding: 0 0 0 212px;
    }
    .content p {
        font-size: 10px;
        text-indent: 30px;
        font-weight: bold;
    }
    .content .map {
        width: 268px;
        height: 360px;
        overflow: hidden;
    }
    .content-ad {
        width: 210px;
        height: 50px;
        overflow: hidden;
    }


    /*.pagination ul li {
        margin: 0 1px;
    }
    .pagination ul li.active{
        padding: 0 4px;
    }
    .pagination ul li a{
        padding:  1px 4px;
    }*/
    .left-sidebar {
        width: 210px;
    }
    #search-content {
        height: 620px;
        width: 213px;
    }
    .left-sidebar ul {
        width: 210px;
    }
    .left-sidebar ul li {
        margin-top: 2px;
    }
    .left-sidebar ul li img {
        width: 68px;
        height: 52px;
    }
    .left-sidebar h1 {
        font-size: 10px;
        line-height: 10px;
    }
    .left-sidebar .item {
        width: 139px;
    }
    .left-sidebar .item span {
        display: inline;
    }
    .left-sidebar .item .address {
        padding-left: 1px;
        line-height: 10px;
        font-size: 10px;
    }
    .left-sidebar .left-sidebar-ad {
        width: 210px;
        height: 50px;
        overflow: hidden;
    }
    .footer-bg{
        min-width: 480px;
    }
    .footer {
        width: 480px;
        margin: -21px auto 0;
        height: 21px;
        font-size: 10px;
    }
    .footer div {
        top: 0;
    }
    .footer a{
        padding: 1px;
        top: 0;
    }
    .footer a.call-popup{
        padding: 1px;
        top: 0;
    }
    .footer a:hover {
        background: url("../images/m/footer-hover.png") repeat;
    }
    .m {
        display: inline;
    }
    .d {
        display: none;
    }
    .popup {
        bottom: 21px;
    }
}
